.shining-image {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 256px;
  display: block;
  user-select: none;
  pointer-events: none;
  animation: spin 3s linear infinite;
}

.store-container {
  display: contents;
}
.store-container .yellow {
  color: #ffbe0b;
  font-weight: bold;
  font-size: clamp(1rem, 2vh, 20px);
}
.store-container .thick {
  font-weight: 200;
  color: #facefd;
}
.store-container .slide-title {
  font-weight: bold;
  color: #c23970;
}
.store-container .slide-title-container {
  font-size: clamp(1rem, 2.5vh, 32px);
}
.store-container .balance-container {
  text-align: center;
}
.store-container .balance-container .withdraw-btn {
  margin-left: auto;
  min-height: 32px;
  height: auto;
  color: #691d82;
  border-radius: 34px;
}
.store-container .balance-container .withdraw-btn > * {
  text-wrap: auto;
}
.store-container .balance-container .withdraw-btn:disabled {
  background-color: #e73d74;
  opacity: 1;
}
.store-container .balance-container .withdraw-btn:enabled {
  background-color: #ebb319;
}
.store-container .balance-container .balance-info, .store-container .balance-container .token-balance-info {
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 1vh, 10px);
}
.store-container .balance-container .token-balance-info {
  margin-top: 10px;
}
.store-container .balance-container .ton-icon, .store-container .balance-container .token-icon {
  width: clamp(2rem, 4vh, 42px);
  border-radius: 9999px;
}
.store-container .balance-container .text {
  font-size: clamp(1rem, 2.25vh, 26px);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}
.store-container .balance-container .text h4 {
  display: inline;
}
.store-container .balance-container .text .earning {
  color: #ffbe0b;
}
.store-container .balance-container .text .total {
  font-weight: 200;
  color: #facefd;
}
.store-container .balance-container .fullness-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 10px;
  color: #facefd;
  font-weight: bold;
  font-size: clamp(0.75rem, 1.75vh, 20px);
  line-height: 1;
}
.store-container .balance-container .fullness-warning .warning-icon {
  width: auto;
  height: clamp(1rem, 2vh, 24px);
  object-fit: contain;
}

.confirm-modal-container {
  margin: auto 0;
  background-color: rgba(11, 11, 11, 0.3529411765);
  padding: 8px 0;
  border-top: 2px solid #ffbe0b;
  border-bottom: 2px solid #ffbe0b;
}
.confirm-modal-container .title-container {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.confirm-modal-container .title-container .bold {
  color: #c23970;
}
.confirm-modal-container .title-container .yellow {
  color: #ffbe0b;
}
.confirm-modal-container .title-container .normal {
  font-size: 24px;
  color: #facefd;
}
.confirm-modal-container .cover-container {
  position: relative;
  width: 100%;
  height: 132px;
}
.confirm-modal-container .cover-container .pig-image {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.confirm-modal-container .details-container {
  z-index: 1;
  position: relative;
}
.confirm-modal-container .details-container .detail-item {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 200;
  color: #691d82;
  background-color: #fd83fb;
  border-radius: 8px;
  width: 240px;
  height: 24px;
  margin-bottom: 8px;
  font-size: 18px;
}
.confirm-modal-container .action-container {
  width: 100%;
}
.confirm-modal-container .action-container .btns .action-btn {
  margin: auto;
  margin-top: 18px;
  border: 0;
  padding: 8px 25px;
  height: 35px;
  color: #fff;
  border-radius: 34px;
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.confirm-modal-container .action-container .btns .action-btn:hover {
  opacity: 0.7;
}
.confirm-modal-container .action-container .btns .action-btn:active {
  opacity: 0.5;
}
.confirm-modal-container .action-container .btns .purchase-btn {
  background-color: #2cc48f;
}
.confirm-modal-container .action-container .btns .purchase-btn div {
  font-weight: 200;
}
.confirm-modal-container .action-container .btns .purchase-btn div .price {
  font-weight: 600;
}
.confirm-modal-container .action-container .btns .close-btn {
  border: 2px solid #bbbcbb;
  color: #bbbcbb;
  background: transparent;
  margin-top: 6px;
  font-size: 14px;
  padding: 3px 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
