.friends-container {
  display: contents;
}
.friends-container .invite-container {
  width: 100%;
  max-width: 360px;
  margin: auto;
}
.friends-container .invite-container .referrer-info {
  position: absolute;
  font-size: 1rem;
  opacity: 0.75;
  top: 0;
  left: 0;
  margin: 0 0 0 1rem;
}
.friends-container .invite-container .title {
  font-weight: 600;
  text-align: center;
  font-size: clamp(1rem, 3vh, 32px);
  margin-bottom: 12px;
}
.friends-container .invite-container .invite-link {
  background: #691d82;
  border-radius: 8px;
  width: calc(100% - 32px);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.friends-container .invite-container .invite-link .link {
  color: #facefd;
  font-size: 20px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.friends-container .invite-container .invite-link .pig-icon {
  display: inline;
  height: 32px;
  margin-left: 8px;
  margin-right: auto;
}
.friends-container .invite-container .invite-link .copy-btn {
  border: none;
  background: transparent;
  width: 24px;
  cursor: pointer;
}
.friends-container .invite-container .invite-link .copy-btn:hover {
  opacity: 0.7;
}
.friends-container .invite-container .invite-link .copy-btn:active {
  opacity: 0.5;
}
.friends-container .invite-container .invite-link .copy-btn img {
  width: 24px;
  user-select: none;
  -webkit-user-drag: none;
}
.friends-container .invite-container .hint {
  margin-top: 8px;
  text-align: center;
  color: #facefd;
  font-size: clamp(0.9rem, 2vh, 16px);
}
.friends-container .accordion-container {
  flex: 1;
  margin: 10px 0;
}
.friends-container .accordion-container .accordion {
  padding: 5px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.friends-container .accordion-container .accordion.level.locked {
  background-color: #691d82;
}
.friends-container .accordion-container .accordion.level.locked h2,
.friends-container .accordion-container .accordion.level.locked h5 {
  color: #fff;
}
.friends-container .accordion-container .accordion.level {
  background-color: #fd83fb;
}
.friends-container .accordion-container .accordion.your-refs {
  background-color: #2cc48f;
}
.friends-container .accordion-container .accordion .title {
  color: #691d82;
  font-weight: bold;
  font-size: 20px;
}
.friends-container .accordion-container .accordion .locked-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.friends-container .accordion-container .accordion .locked-title .locked-img {
  width: 24px;
}
.friends-container .accordion-container .accordion .arrow {
  display: flex;
  transition: transform 0.3s ease-in-out; /* Add this to smoothly animate transform */
}
.friends-container .accordion-container .accordion .arrow img {
  height: 26px;
  width: 26px;
  object-fit: contain;
}
.friends-container .accordion-container .accordion .arrow.--open {
  transform: rotate(90deg);
}
.friends-container .accordion-container .ref-accordion-content .empty-container {
  text-align: center;
}
.friends-container .accordion-container .ref-accordion-content .empty-container .empty {
  font-size: clamp(0.9rem, 2vh, 24px);
  font-weight: 200;
  color: #facefd;
}
.friends-container .accordion-container .ref-accordion-content .invites-container {
  margin-bottom: 8px;
}
.friends-container .accordion-container .ref-accordion-content .invites-container .invite-item {
  padding: 4px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends-container .accordion-container .ref-accordion-content .invites-container .invite-item:not(:last-child) {
  border-bottom: 2px solid #2cc48f;
}
.friends-container .accordion-container .ref-accordion-content .invites-container .invite-item h2,
.friends-container .accordion-container .ref-accordion-content .invites-container .invite-item h5 {
  margin: 0;
}
.friends-container .accordion-container .ref-accordion-content .invites-container .invite-item .head {
  margin-bottom: 3px;
}
.friends-container .accordion-container .ref-accordion-content .invites-container .invite-item .head .level {
  font-weight: 100;
  font-size: 20px;
}
.friends-container .accordion-container .ref-accordion-content .invites-container .invite-item .pig-pic img {
  width: 48px;
}
.friends-container .accordion-container .level-accordion-content {
  text-align: center;
}
.friends-container .accordion-container .level-accordion-content .your-refs {
  color: #2cc48f !important;
  font-size: 16px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
