.friends-container {
  display: contents;
  .invite-container {
    width: 100%;
    max-width: 360px;
    margin: auto;

    .title {
      font-weight: 600;
      text-align: center;
      font-size: clamp(1rem, 3vh, 32px);
      margin-bottom: 12px;
    }
    .invite-link {
      background: #691d82;
      border-radius: 8px;
      width: calc(100% - 32px);
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;

      .link {
        color: #facefd;
        font-size: 20px;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .pig-icon {
        display: inline;
        height: 32px;
        margin-left: 8px;
        margin-right: auto;
      }

      .copy-btn {
        border: none;
        background: transparent;
        width: 24px;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
        &:active {
          opacity: 0.5;
        }
        img {
          width: 24px;
          user-select: none;
          -webkit-user-drag: none;
        }
      }
    }
    .hint {
      margin-top: 8px;
      text-align: center;
      color: #facefd;
      font-size: clamp(0.9rem, 2vh, 16px);
    }
  }
  .accordion-container {
    flex: 1;
    margin: 10px 0;
    .accordion {
      padding: 5px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      &.level.locked {
        background-color: #691d82;
        h2,
        h5 {
          color: #fff;
        }
      }
      &.level {
        background-color: #fd83fb;
      }
      &.your-refs {
        background-color: #2cc48f;
      }
      .title {
        color: #691d82;
        font-weight: bold;
        font-size: 20px;
      }
      .locked-title {
        display: flex;
        align-items: center;
        gap: 10px;

        .locked-img {
          width: 24px;
        }
      }

      .arrow {
        display: flex;
        img {
          height: 26px;
          width: 26px;
          object-fit: contain;
        }
        transition: transform 0.3s ease-in-out; /* Add this to smoothly animate transform */

        &.--open {
          transform: rotate(90deg);
        }
      }
    }
    .ref-accordion-content {
      .empty-container {
        text-align: center;

        .empty {
          font-size: clamp(0.9rem, 2vh, 24px);
          font-weight: 200;
          color: #facefd;
        }
      }
      .invites-container {
        margin-bottom: 8px;
        .invite-item {
          &:not(:last-child) {
            border-bottom: 2px solid #2cc48f;
          }
          padding: 4px 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2,
          h5 {
            margin: 0;
          }

          .head {
            .level {
              font-weight: 100;
              font-size: 20px;
            }
            margin-bottom: 3px;
          }

          .pig-pic {
            img {
              width: 48px;
            }
          }
        }
      }
    }
    .level-accordion-content {
      text-align: center;
      .your-refs {
        color: #2cc48f !important;
        font-size: 16px;
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
