.pig-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 4px;
  max-width: 100%;
  user-select: none;
  overflow: hidden;
  text-align: center;

  .title {
    margin: 0;
    flex: 0.125;
    align-content: center;
    max-height: 72px;
  }

  .hint {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex: 0.125;
    align-content: center;
    max-height: 72px;
  }

  .pig-image {
    flex: 1;
    min-width: 0;
    min-height: 32px;
    width: auto;
    object-fit: contain;
    pointer-events: none;
  }

  .caption {
    margin: 0;
    flex: 0.125;
    align-content: center;
    max-height: 60px;
  }
}
